*.dll
src/test/obj/
src/main/bin/
src/test/bin/
src/test/obj/
testproject/bin/Debug/cocoafob.pdb
testproject/bin/Debug/cocoafob_test.pdb
testproject/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
testproject/bin/Debug/resources/privkey.pem
testproject/bin/Debug/resources/pubkey.pem
testproject/obj/Debug/cocoafob_test.csproj.FileListAbsolute.txt
testproject/obj/Debug/cocoafob_test.csprojResolveAssemblyReference.cache
testproject/obj/Debug/cocoafob_test.pdb
testproject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
testproject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
testproject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
testproject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
